aiofiles==24.1.0
aiohappyeyeballs==2.6.2
aiohttp==3.12.15
aiosignal==1.4.0
altgraph==0.17.5
attrs==26.1.0
beautifulsoup4==4.13.5
customtkinter==5.2.2
darkdetect==0.8.0
frozenlist==1.8.0
idna==3.18
markdown-it-py==4.2.0
mdurl==0.1.2
multidict==6.7.1
packaging==26.2
pefile==2024.8.26
propcache==0.5.2
Pygments==2.20.0
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
pywin32-ctypes==0.2.3
rich==13.9.4
setuptools==82.0.1
soupsieve==2.8.4
typing-extensions==4.15.0
yarl==1.20.1
